<h2>Inventory Monitor</h2>

<div class="add-device-input">
  <label for="new-hero">Add Device: </label>

  <input id="new-hero" #heroName placeholder="TODO: heroes.component.html"/> <!-- Make Dropdown + Missing Binding -->
  <input id="MLFB" placeholder="MLFB"/> <!-- Missing Binding -->
  <input id="Inventory Number" placeholder="Inventory Number (optional)"/> <!-- Missing Binding -->
  <input id="Serial Number" placeholder="Serial Number"/> <!-- Missing Binding -->
  <input id="Protoype-ID" placeholder="Protoype-ID (optional)"/> <!-- Missing Binding -->

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>